@{
    ViewData["Title"] = "Hero Detail Page";
}
@model Hero
<div class="text-center">
    <h1 class="display-4">Hero Detail</h1>

    <label>@Model.Name</label>
    <label>@Model.Role</label>
    <img src=@Model.Portrait></img>
    
</div>


